# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf

[*.json]
indent_style = space
indent_size = 2

# 4 space indentation
[*.sh]
indent_style = space
indent_size = 2
